.resumeHolder{
	display:block;
	text-align:left;
	padding:20px;
}

.date{
	font-style: italic;
}


*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.react-sanfona {
  border-radius: 3px;
  margin-bottom: 70px;
}

.react-sanfona-item-title {
  padding: 20px;
  text-transform: uppercase;
  transition: background-color .3s;
}

.react-sanfona-item:first-child .react-sanfona-item-title {
  border-top: none;
}

.react-sanfona-item-expanded .react-sanfona-item-title {

  .title-done-btn {
      display: inline-block;
      float: right;
      color: #000;
  }
}

.title {
	padding-left: 10px;
	cursor: pointer;
	transition: background-color .3s;
}

.dates{
	font-style: italic;
}


.react-sanfona-item-body-wrapper {
	padding-top: 1px;
  padding-left: 20px;
  position: relative;
}

